@media (max-width: 1240px) {
    .book-body .body-inner {
        position: absolute;
        min-height: calc(100% - 50px);
    }
}

.book-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgb(236, 228, 228);
}

.page-wrapper {
    padding-top: 50px;
}
